@model ClockUniverse.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- #header -->




<section id="columns" class="columns-container product">
    <div class="container">
        <div class="row">
            <section id="center_column" class="col-sm-12 col-md-12">
                @using (Html.BeginForm("Create", "InformationManager"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    <div class="page-wrap">
                        <h1 class="page-header bottom-indent">Contact us</h1>
                        <div class="page-content">
                            <div class="row">
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <form method="post" action="https://ap-titanium.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                        <input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />


                                        <div class="contact-form-box">
                                            <fieldset>
                                                <h3 class="page-subheading">send a message</h3>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">

                                                            @Html.LabelFor(model => model.Customer_Name, "Tên Khách Hàng", new { @class = "control-label col-md-2" })

                                                            @Html.TextBoxFor(model => model.Customer_Name, new { @class = "form-control grey" , @id = "ContactFormName" ,@name = "contact[name]" })
                                                            @Html.ValidationMessageFor(model => model.Customer_Name)

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })

                                                            @Html.TextBoxFor(model => model.Email,new { @class = "form-control grey" ,@id = "ContactFormEmail", @name = "contact[name]" })
                                                            @Html.ValidationMessageFor(model => model.Email)

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Phone, "Số Điện Thoại", new { @class = "control-label col-md-2" })

                                                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control grey", @id = "ContactFormPhone", @name = "contact[name]" })
                                                            @Html.ValidationMessageFor(model => model.Phone)

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Address, "Địa chỉ", new { @class = "control-label col-md-2" })

                                                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control grey", @id = "ContactFormAddress", @name = "contact[name]" })
                                                            @Html.ValidationMessageFor(model => model.Address)

                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                                        <div class="form-group">
                                                            @Html.Label("Title", "Tiêu Đề", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.TextBox("Title",null, new { @class = "form-control grey", @id = "ContactFormName", @name = "contact[name]" })
                                                                @Html.ValidationMessage("Title")
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            @Html.Label("Message", "Nội Dung", new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.TextArea("Message", new { @class = "form-control", @rows = "8", @id = "ContactFormMessage", @name = "contact[body]" })
                                                                @Html.ValidationMessage("Message")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="submit">
                                                    <input type="submit" class="btn btn-outline" value="Send">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="box-contact-info block">

                                        <div class="block_content">
                                            <div class="coninfo-des">

                                            </div>
                                            <ul class="list-unstyled"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    



                    }
            </section>
        </div>
    </div>
</section>


