@model ClockUniverse.ProductTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        font-size: 2.0em;
    }

    tr:hover {
        background-color: #cacaca;
    }

    h2 {
        text-align: center;
        margin-top: 4px;
    }

    img {
        width: 300px;
        height: 150px;
    }
</style>

<body>

    <h2>XÁC NHẬN XÓA SẢN PHẨM</h2>

    <table class="table table-bordered success">
        <tr>
            <th>Tên Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.Watch_Name)</td>
        </tr>
        <tr>
            <th>Mô Tả Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.Watch_Description)</td>
        </tr>
        <tr>
            <th>Thông Số Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.Watch_Static)</td>
        </tr>
        <tr>
            <th>Giá Niêm Yết</th>
            <td>@Model.Original_Price.ToString("N0") VNĐ</td>
        </tr>
        <tr>
            <th>Giá Khuyến Mãi</th>
            <td>@Model.Selling_Price.ToString("N0") VNĐ</td>
        </tr>
        <tr>
            <th>Số Lượng</th>
            <td>@Html.DisplayFor(model => model.InStock)</td>
        </tr>
        <tr>
            <th>Loại Đồng Hồ</th>
            <td>@Html.DisplayFor(model => model.ProductType.ProductType_Name)</td>
        </tr>
        <tr>
            <th>Hình Ảnh Đồng Hồ</th>
            <td>
                <img src="@Url.Action("Image", new { id = Model.Watch_ID }) " />
                <img src="@Url.Action("Image1", new { id = Model.Watch_ID }) " />
                <img src="@Url.Action("Image2", new { id = Model.Watch_ID }) " />
            </td>
        </tr>

    </table>

<<<<<<< HEAD
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Xóa Sản Phẩm" class="btn btn-default" onclick="myFunction()" />
        <script>
            function myFunction() {
                confirm("Ban da xoa san pham");
            }
        </script>
    </div>
            }
    </div>
=======
</body>
>>>>>>> f326d5ac1737a57a081e65be5a162c3657931daa

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<p>
    <input type="submit" value="Xóa Sản Phẩm" class="btn btn-default" />
    @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-default" })
</p>
}
