@using ClockUniverse.Models;
@model ProductTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 362px;
        margin-left: 125px;
    }
    .ribbon-wrapper {
        right: 442px;
    }
    .tong {
        width: 201px;
        height: 48px;
        background: #007bff;
        color: white;
        margin-top: 23px;
        border-radius: 6px;
        font-size: 31px;
    }

    i.fas.fa-shopping-cart {
        position: relative;
        top: 5px;
        left: 43px;
        font-size: 23px;
        color: white;
        cursor: pointer;
    }
    p.single-item-title {
        font-size: 27px;
        margin-bottom: 16px;
        font-weight: 500;
    }
    b#giaNiemYet {
        font-size: 13px;
        color: #737373;
    }
    span.flash-del1 {
        font-size: 13px;
        color: #737373;
    }
    .single-item-desc {
        font-size: 13px;
        color: #737373;
        margin-bottom: 17px;
    }
    span#TinhTrang {
        color: red;
        font-size: 15px;
        font-weight: 500;
    }
    .single-item-desc.lala {
        padding: 20px 1px;
        color: #333;
        height: 300px;
    }
    .flash-sale {
        color: #ff3425;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: -15px;
        display: block;
    }
    li.active {
        width: 60%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    li {
        width: 155px;
        text-align: center;
    }
    span#nameTT {
        font-weight: 400;
    }
    .single-item-price {
        font-size: 20px;
        color: #000;
    }
    input#txtSoLuong {
        width: 55px;
        font-size: 18px;
        height: 28px;
    }
    #sl {
        font-size: 13px;
        color: #737373;
    }
    #giaGoc {
        color: #ff3425;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 8px;
        display: block;
    }
    input#btnGioHang {
        width: 170px;
        padding-left: 43px;
    }
</style>

    <div class="container">
        <div id="content">
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-7">
                            <img src="@Url.Content("~/productmanager/Image/"+Model.Watch_ID)" alt="" style="width: 363px;height: 400px;">
                        </div>
                        <div class="col-sm-5">
                            <div class="single-item-body">
                                <p class="single-item-title">@Model.Watch_Name</p>
                                @if (Model.Original_Price <= Model.Selling_Price)
                                {
                                    <p class="single-item-price" id="giaGoc">
                                        <span>@String.Format("{0:0,0}", Model.Selling_Price) ₫</span>
                                    </p>
                                }
                                else
                                {
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <p class="single-item-price">
                                        <span class="flash-sale">@String.Format("{0:0,0}", Model.Selling_Price) ₫</span> <br>
                                        <b id="giaNiemYet">Giá niêm yết: </b> <span class="flash-del1">@String.Format("{0:0,0}", Model.Original_Price) ₫</span> <br />
                                    </p>
                                }

                            </div>
                            <div class="clearfix"></div>

                            <div class="single-item-desc">
                                @if (Model.InStock > 0)
                                {
                                    <span id="nameTT">
                                        Tình trạng:
                                    </span>
                                    <span id="TinhTrang">
                                        Còn hàng
                                    </span>
                                }
                                else
                                {
                                    <span id="nameTT">
                                        Tình trạng:
                                    </span>
                                    <span id="TinhTrang">
                                        Hết hàng
                                    </span>
                                }
                            </div>

                            <p id="sl">Số lượng:</p>
                            <div class="single-item-options">

                                @using (Html.BeginForm("addShoppingCart", "ShoppingCart", new { @iMaSP = Model.Watch_ID, @strUrl = Request.Url.ToString() }))
                                {

                                    @Html.TextBox("txtSoLuong", 1, new { type = "number" })
                                    @Html.ValidationMessage("txtSoLuong")


                                    if (Model.InStock <= 0)
                                    {

                                        <i class="fas fa-shopping-cart"></i><input type="submit" value="CHỌN MUA" id="btnGioHang" class="btn btn-primary btn-lg disabled" />
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ShoppingCart", "ShoppingCart")">
                                            <i class="fas fa-shopping-cart"></i><input type="submit" value="CHỌN MUA" id="btnGioHang" class="btn btn-primary btn-lg" />
                                        </a>
                                    }



                                }

                                <div class="clearfix"></div>
                            </div>

                            <div class="single-item-desc lala">
                                <div class="woocommerce-tabs">
                                    <ul class="tabs">
                                        <li><a href="#tab-description">Thông tin</a></li>
                                        <li><a href="#tab-reviews">Mô Tả</a></li>
                                    </ul>
                                    <div class="panel" id="tab-description">
                                        <p>@Model.Watch_Description</p>
                                    </div>
                                    <div class="panel" id="tab-reviews">
                                        <p>@Model.Watch_Static</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space50">&nbsp;</div>
                </div>
            </div>
        </div> <!-- #content -->
    </div> <!-- .container -->
    <!-- #footer -->
    <!-- .copyright -->
    <!-- include js files -->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".numberinput").forceNumeric();
        });

        // forceNumeric() plug-in implementation
        jQuery.fn.forceNumeric = function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.which || e.keyCode;

                    if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                        // numbers
                        key >= 48 && key <= 57 ||
                        // Numeric keypad
                        key >= 96 && key <= 105 ||
                        // comma, period and minus, . on keypad
                        key == 190 || key == 188 || key == 109 || key == 110 ||
                        // Backspace and Tab and Enter
                        key == 8 || key == 9 || key == 13 ||
                        // Home and End
                        key == 35 || key == 36 ||
                        // left and right arrows
                        key == 37 || key == 39 ||
                        // Del and Ins
                        key == 46 || key == 45)
                        return true;

                    return false;
                });
            });
        }
    </script>
